<div class="Shopping-bags p-4">
    <h2>My Shopping Bags</h2>
    <table border="1px" class="w-100" cellpadding="10px">
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price Details</th>
        <th>Order Total</th>
        <th>Action</th>
      </tr>

      <tr>
        <td> Product 1</td>
        <td> 1 </td>
        <td> RM6 90 </td>
        <td> 0.00 </td>
        <td> 
          <button class="btn border ml-3" > <i class="fa fa-trash text-danger"></i> </button>
          <button class="btn border ml-3" > <i class="fa fa-edit text-primary"></i> </button>
        </td>
      </tr>
      <tr>
        <td> Product 1</td>
        <td> 1 </td>
        <td> RM6 90 </td>
        <td> 0.00 </td>
        <td> 
          <button class="btn border ml-3" > <i class="fa fa-trash text-danger"></i> </button>
          <button class="btn border ml-3" > <i class="fa fa-edit text-primary"></i> </button>
        </td>
      </tr>
      <tr>
        <td> Product 1</td>
        <td> 1 </td>
        <td> RM6 90 </td>
        <td> 0.00 </td>
        <td> 
          <button class="btn border ml-3" > <i class="fa fa-trash text-danger"></i> </button>
          <button class="btn border ml-3" > <i class="fa fa-edit text-primary"></i> </button>
        </td>
      </tr>

      <tr>
        <td colspan="3" class="text-right">Total</td>
        <td class="text-right">0.00</td>
        <td class="text-right"> </td>
      </tr>

    </table>
  </div>