<div class="row w-100 p-3 m-0">

          
    <div class="col-md-3 mt-3">
        <div class="card-section">
          <div class="card">
            <div class="p-3">
              <img class="card-img-top" src="https://cached.imagescaler.hbpl.co.uk/resize/scaleHeight/815/cached.offlinehbpl.hbpl.co.uk/news/OMC/all-products-20170125054108782.gif" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title"> Product 1</h5>
              <p class="card-text">
                $ RM9.00
              </p>
              <div class="inc-dec">
                <div> <button class="btn border" (click)="dec(1)"> - </button> </div>
                <div> <input class="text-center" style="height: 36px !important;" type="text" value="{{quantity}}"> </div>
                <div> <button class="btn border" (click)="inc(1)" > + </button> </div>
              </div>
              <br>
              <div class="text-center">
                <a href="#" class="btn btn-primary text-center">Add to Bag</a>
              </div>
            </div>
          </div>
        </div>
      </div> 
                
    <div class="col-md-3 mt-3">
        <div class="card-section">
          <div class="card">
            <div class="p-3">
              <img class="card-img-top" src="
              https://cached.imagescaler.hbpl.co.uk/resize/scaleHeight/815/cached.offlinehbpl.hbpl.co.uk/news/OMC/all-products-20170125054108782.gif
              " alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title"> Product 2</h5>
              <p class="card-text">
                $ RM9.00
              </p>
              <div class="inc-dec">
                <div> <button class="btn border" (click)="dec(1)"> - </button> </div>
                <div> <input class="text-center" style="height: 36px !important;" type="text" value="{{quantity}}"> </div>
                <div> <button class="btn border" (click)="inc(1)" > + </button> </div>
              </div>
              <br>
              <div class="text-center">
                <a href="#" class="btn btn-primary text-center">Add to Bag</a>
              </div>
            </div>
          </div>
        </div>
      </div> 
                
    <div class="col-md-3 mt-3">
        <div class="card-section">
          <div class="card">
            <div class="p-3">
              <img class="card-img-top" src="https://cached.imagescaler.hbpl.co.uk/resize/scaleHeight/815/cached.offlinehbpl.hbpl.co.uk/news/OMC/all-products-20170125054108782.gif" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title"> Product 3</h5>
              <p class="card-text">
                $ RM9.00
              </p>
              <div class="inc-dec">
                <div> <button class="btn border" (click)="dec(1)"> - </button> </div>
                <div> <input class="text-center" style="height: 36px !important;" type="text" value="{{quantity}}"> </div>
                <div> <button class="btn border" (click)="inc(1)" > + </button> </div>
              </div>
              <br>
              <div class="text-center">
                <a href="#" class="btn btn-primary text-center">Add to Bag</a>
              </div>
            </div>
          </div>
        </div>
      </div>          
                  
    
  </div>