
<div class="container-fluid m-0 p-0">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a><i class="fa-solid fa-house"></i> Dashboard</a>
        <a href="#"><i class="fa-solid fa-calendar-days"></i> All Timesheets</a>
        <a href="#"><i class="fa-regular fa-clock"></i> My Timesheet</a>
        <a href="#"><i class="fa-solid fa-swatchbook"></i> My Projects</a>
        <a href="#"><i class="fa-solid fa-users"></i> My Profile  </a>
        <a href=""> <i class="fa-solid fa-sliders"></i> Settings </a>
      </div>
      <button class="btn btn-dark" style="font-size:20px;cursor:pointer; position: absolute; " onclick="openNav()">&#9776; </button>

      <div class="mid-Content" id="mid-Content">
        <div class="mid-cont-header bg-warning w-100 text-right p-1">
          <button type="button" class="btn btn-primary btn-large" style="font-size: 25px;" data-toggle="modal" data-target="#exampleModal" class="btn btn-success"><i class="fa-solid fa-cart-shopping"></i> Buy now</button>
        </div>

        <app-cards></app-cards>

        <app-table></app-table>
      </div>
</div>








<!-- Buy now Button Model -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addProduct" (ngSubmit)="saveProduct()">
          Upload Image <input type="file" formControlName="product_image" > 
          <br> 
          <p class="text-danger" *ngIf="product_image && product_image.invalid && product_image.touched" >Image is Required</p>
          <br>

          Product Name <input type="text" class="form-control" formControlName="product_name" >
          <p class="text-danger" *ngIf="product_name && product_name.invalid && product_name.touched" > Product name is required</p>
          
          Product Price <input type="number" class="form-control" formControlName="product_price" >
          <p class="text-danger" *ngIf="product_price && product_price.invalid && product_price.touched" > Product Price is required</p>
          <br>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="addProduct.invalid" >add product</button>
      </div>
    </div>
  </div>
</div>